In [58]:
import sqlite3

In [59]:
conn = sqlite3.connect('backup.db')
c = conn.cursor()

In [60]:
c.execute('''CREATE TABLE Irrigation5(
Crop TEXT,
I REAL,
PS REAL,
AEI REAL,
CI REAL);''')

In [61]:
insert_queries = [
    "INSERT INTO Irrigation5 VALUES('Rice', 271.4, 360.1, 64, 1.6);",
    "INSERT INTO Irrigation5 VALUES('Wheat', 153.1, 44.3, 59.3, 1.1);",
    "INSERT INTO Irrigation5 VALUES('Maize', 66, 48.7, 29.9, 1);",
    "INSERT INTO Irrigation5 VALUES('Others annual', 51.8, 19.8, 16.7, 1.2);",
    "INSERT INTO Irrigation5 VALUES('Cotton', 73.3, 21.2, 16.3, 1);",
    "INSERT INTO Irrigation5 VALUES('Others perennial', 80, 48.5, 12.9, 1);",
    "INSERT INTO Irrigation5 VALUES('Fodder grasses', 71.8, 14.5, 11.7, 1);",
    "INSERT INTO Irrigation5 VALUES('Sugar cane', 71.7, 50.9, 10.2, 1);",
    "INSERT INTO Irrigation5 VALUES('Soybean', 16.6, 15.3, 6, 1);",
    "INSERT INTO Irrigation5 VALUES('Pulses', 18, 2.8, 5.5, 1);",
    "INSERT INTO Irrigation5 VALUES('Barley', 7.3, 4.1, 4.6, 1);",
    "INSERT INTO Irrigation5 VALUES('Potato', 12.4, 5.8, 3.7, 1);",
    "INSERT INTO Irrigation5 VALUES('Groundnuts', 7.5, 9.6, 3.7, 1);",
    "INSERT INTO Irrigation5 VALUES('Citrus', 15.1, 12.2, 3.6, 1);",
    "INSERT INTO Irrigation5 VALUES('Rape seed', 6.7, 0.5, 3.4, 1);",
    "INSERT INTO Irrigation5 VALUES('Sorghum', 8, 3.4, 3.4, 1);",
    "INSERT INTO Irrigation5 VALUES('Millet', 3.5, 1.9, 1.7, 1);",
    "INSERT INTO Irrigation5 VALUES('Grapes', 7.4, 4, 1.7, 1);",
    "INSERT INTO Irrigation5 VALUES('Sugar beets', 6.1, 0.89, 1.6, 1);",
    "INSERT INTO Irrigation5 VALUES('Sunflower', 3.6, 1.8, 1.3, 1);",
    "INSERT INTO Irrigation5 VALUES('Date palm', 8.4, 0.14, 0.7, 1);",
    "INSERT INTO Irrigation5 VALUES('Rye', 0.74, 0.68, 0.4, 1);",
    "INSERT INTO Irrigation5 VALUES('Coffee', 0.67, 0.83, 0.2, 1);",
    "INSERT INTO Irrigation5 VALUES('Cocoa', 0.01, 0.06, 0.01, 1);",
    "INSERT INTO Irrigation5 VALUES('Cassava', 0.02, 0.03, 0.01, 1);",
    "INSERT INTO Irrigation5 VALUES('Oil palm', 0.04, 0.11, 0.01, 1);"
]

In [62]:
for query in insert_queries:
    c.execute(query)

In [63]:
conn.commit()

In [64]:
c.execute("SELECT * FROM Irrigation5")

In [65]:
rows = c.fetchall()

In [66]:
for row in rows:
    print(row)

('Rice', 271.4, 360.1, 64.0, 1.6)
('Wheat', 153.1, 44.3, 59.3, 1.1)
('Maize', 66.0, 48.7, 29.9, 1.0)
('Others annual', 51.8, 19.8, 16.7, 1.2)
('Cotton', 73.3, 21.2, 16.3, 1.0)
('Others perennial', 80.0, 48.5, 12.9, 1.0)
('Fodder grasses', 71.8, 14.5, 11.7, 1.0)
('Sugar cane', 71.7, 50.9, 10.2, 1.0)
('Soybean', 16.6, 15.3, 6.0, 1.0)
('Pulses', 18.0, 2.8, 5.5, 1.0)
('Barley', 7.3, 4.1, 4.6, 1.0)
('Potato', 12.4, 5.8, 3.7, 1.0)
('Groundnuts', 7.5, 9.6, 3.7, 1.0)
('Citrus', 15.1, 12.2, 3.6, 1.0)
('Rape seed', 6.7, 0.5, 3.4, 1.0)
('Sorghum', 8.0, 3.4, 3.4, 1.0)
('Millet', 3.5, 1.9, 1.7, 1.0)
('Grapes', 7.4, 4.0, 1.7, 1.0)
('Sugar beets', 6.1, 0.89, 1.6, 1.0)
('Sunflower', 3.6, 1.8, 1.3, 1.0)
('Date palm', 8.4, 0.14, 0.7, 1.0)
('Rye', 0.74, 0.68, 0.4, 1.0)
('Coffee', 0.67, 0.83, 0.2, 1.0)
('Cocoa', 0.01, 0.06, 0.01, 1.0)
('Cassava', 0.02, 0.03, 0.01, 1.0)
('Oil palm', 0.04, 0.11, 0.01, 1.0)

In [68]:
import pickle
with open('Crop-prediction.pk1', 'rb') as f:
    x = pickle.load(f)
print(x)

LGBMClassifier()

In [75]:
import numpy as np

features = np.array([[90,42,43,20.8,82.0]])
prediction = x.predict(features)
print("Prediction: {}".format(prediction))

Prediction: ['rice']

In [76]:
crop_name = prediction
c.execute("SELECT * FROM Irrigation5 WHERE Crop=?", (crop_name,))

In [77]:
row = c.fetchone()

In [79]:
if row:
    print(row)
else:
    print(f"No data found for crop: {crop_name}")

No data found for crop: ['rice']